{% extends '/layout.html.twig' %}

{% block title %}Play Formats{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <div id="list">

    <div class="row">
      <div class="col-sm-12">
        <h2>Standard Format</h2>
		<h4>Current Ban List</h4>
		<p><strong><a href="{{ path('banlists') }}#{{ standard_banlist.code }}">{{ standard_banlist.name }}</a></strong>, active as of <strong>{{ standard_banlist.dateStart|date("Y-m-d") }}</strong></p>

        <h4>Decklists</h4>
        <ul>
            <li>
                <a href="{{ path('decklists_list', {type:'find', 'faction':'earth', 'packs':standard_packs}) }}">
                    <svg class="icon-wb icon-earth"><use xlink:href="#icon-earth"></use></svg>
                    Earth Guild
                </a>
            </li>
            <li>
                <a href="{{ path('decklists_list', {type:'find', 'faction':'moon', 'packs':standard_packs}) }}">
                    <svg class="icon-wb icon-moon"><use xlink:href="#icon-moon"></use></svg>
                    Moon Guild
                </a>
            </li>
            <li>
                <a href="{{ path('decklists_list', {type:'find', 'faction':'stars', 'packs':standard_packs}) }}">
                    <svg class="icon-wb icon-stars"><use xlink:href="#icon-stars"></use></svg>
                    Stars Guild
                </a>
            </li>
            <li>
                <a href="{{ path('decklists_list', {type:'find', 'faction':'void', 'packs':standard_packs}) }}">
                    <svg class="icon-wb icon-void"><use xlink:href="#icon-void"></use></svg>
                    Void Guild
                </a>
            </li>
        </ul>

        <h4>Legal Card Cycles - {{ num_standard_cards }} unique cards</h4>
        <ul>
        {% for cycle in standard_cycles %}
          <li><a href="{{ path('cards_cycle', {cycle_code:cycle.code }) }}">{{ cycle.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
