{% extends '/Search/display.html.twig' %}

{% block main %}

{% for row in 0..(cards|length-1)//3 %}
<div class="row">
{% for col in 0..2 %}
{% if row*3+col < cards|length %}
{% set card = cards[row*3+col] %}
<div class="col-sm-4" style="margin-bottom:1.5em">
    <h4>
    <a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
    </h4>
  <div class="card-info">
  <p>
    <span class="card-type">{{ card.type_name }}</span><span class="card-keywords">{% if card.subtype %}: {{ card.subtype }}{% endif %}</span>
  </p>
  <p class="card-props">
      {% if card.type_code == "event" or card.type_code == "follower" or card.type_code == "location" %}
          <span>
              Cost: {{ card.cost }}
              <svg class="icon-wb icon-mythium"><use xlink:href="#icon-mythium"></use></svg>
              <span class="icon-fallback">Mythium</span>

              {{ include('/Search/standing_requirements.html.twig') }}
          </span>
      {% endif %}

      {% if card.type_code == "follower" %}
          <span>Strength: {{ card.strength }} &bull; Health: {{ card.health }}</span>
      {% endif %}
  </p>
  </div>
  <div class="card-text border-{{ card.faction_code }}">
      {{ card.text|raw }}

      {% if card.stages %}
          <div class="card-location-stages">
              <ol class="stages">
                  {% for stage in card.stages %}
                      <li>{{stage|raw}}</li>
                  {% endfor %}
              </ol>
          </div>
      {% endif %}

  </div>
  <p class="card-flavor" style="font-size:86.5%">
    {{ card.flavor|raw|nl2br }}
  </p>
  <p style="font-size:86.5%">
    {% for illustrator in card.illustrators %}
      {{ illustrator }}
    {% endfor %}
  </p>
  <p>
    <span class="icon icon-{{ card.cycle_code }}"></span> {{ card.pack_name }} {{ card.position }} &bull; {{ card.faction_name }}
  </p>
</div>
{% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}
