{% extends '/Search/display.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-md-9">
        <div class="row">
{% for i in 0..cards|length-1 %}{% set card = cards[i] %}
          <div class="col-sm-7" style="margin-bottom:2em">
            <div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title card-title">
                    <a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
                  </h3>
                  </div>
                <div class="panel-body">
                  <div class="card-info">
                    <span class="card-type">{{ card.type_name }}</span>
                    <span class="card-prop">

                        {% if card.type_code == "event" or card.type_code == "follower" or card.type_code == "location" %}
                            <span>
                                Cost: {{ card.cost }}
                                <svg class="icon-wb icon-mythium"><use xlink:href="#icon-mythium"></use></svg>
                                <span class="icon-fallback">Mythium</span>

                                {{ include('/Search/standing_requirements.html.twig') }}
                            </span>
                        {% endif %}

                        {% if card.type_code == "follower" %}
                            <span>Strength: {{ card.strength }} &bull; Health: {{ card.health }}</span>
                        {% endif %}

                    </span>
                  </div>
                  <div class="card-text border-{{ card.faction_code }}">
                      {{ card.text|raw }}

                      {% if card.stages %}
                          <div class="card-location-stages">
                              <ol class="stages">
                                  {% for stage in card.stages %}
                                      <li>{{stage|raw}}</li>
                                  {% endfor %}
                              </ol>
                          </div>
                      {% endif %}
                  </div>
                  {% if card.flavor %}
                  <div class="card-flavor">
                    <small>{{ card.flavor|raw|nl2br }}</small>
                  </div>
                  {% endif %}
                  <div class="card-illustrator">
                    <small>
                    {{ card.faction_name }} &bull;
                    {% for illustrator in card.illustrators %}
                        <a href="{{ path('cards_find',{type:'find',_locale:app.request.locale,'view':'images','q':'i:"' ~ illustrator ~ '"'}) }}">{{ illustrator }}</a> &bull;
                    {% endfor %}
                    {{ card.pack_name }} {{ card.position }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5" style="margin-bottom:2em">
            <div class="card-image">
              {% if card.imageUrl %}
                 <img data-src="{{ card_image_url }}{{ card.large_image_paths[0] }}" alt="{{ card.title }}" class="img-responsive lazyload" style="margin:auto">
              {% else %}
                 <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
              {% endif %}
            </div>
          </div>
{% endfor %}
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

{% endblock %}

