{% extends '/Search/display.html.twig' %}

{% block main %}
<table class="rwd-table table table-striped table-condensed">
   <thead>
      <tr>
         <th>Title</th>
         <th>Guild</th>
         <th title="Cost" style="text-align:right;">Cost</th>
         <th title="Standing Requirements">Standing</th>
         <th>Type</th>
         <th title="Strength/Health">&hellip;</th>
         <th>Set</th>
      </tr>
   </thead>
   {% for i in 0..cards|length-1 %}
   <tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
      {% set card = cards[i] %}
      <td data-th="Title">
         <a href="{{ card.url }}" class="card{% if card.available == false %} card-preview{% endif %}" data-index="{{ card.code }}">{{ card.title }}</a>
      </td>
      <td data-th="Guild">{{ card.faction_name }}</td>
      <td data-th="Cost" style="text-align:right;">
          {{ card.cost }}
      </td>
      <td data-th="Standing Requirement">
          {{ include('/Search/standing_requirements.html.twig') }}
      </td>
      <td data-th="Type" >{{ card.type_name }}</td>
      <td data-th="&hellip;">{% if card.strength is not null %}{{ card.strength }}/{{ card.health }}{% endif %}</td>
      <td data-th="Set">{{ card.pack_name }} #{{ card.position }}</td>
   </tr>
   {% endfor %}
</table>

{% endblock %}
