<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}"
      role="form">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Guild</label> <select class="form-control" id="faction" name="faction">
                    <option value="">Ignore</option>
                    <option value="earth"{{ faction_earth|default('') }}>Earth Guild</option>
                    <option value="moon"{{ faction_moon|default('') }}>Moon Guild</option>
                    <option value="stars"{{ faction_stars|default('') }}>Stars Guild</option>
                    <option value="void"{{ faction_void|default('') }}>Void Guild</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Cards used</label>
                {{ cards|default('')|raw }}
                <input type="text" class="form-control" id="filter-text" placeholder="Enter card title">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Author name</label> <input type="text"
                                                         class="form-control" id="author" name="author"
                                                         placeholder="Enter author name" value="{{ author }}">
            </div>
            <div class="form-group">
                <label for="">Decklist name</label> <input type="text"
                                                           class="form-control" id="title" name="title"
                                                           placeholder="Enter decklist name" value="{{ title }}">
            </div>
        </div>
        <div class="col-sm-4">
            <p><a data-toggle="collapse" data-target="#allowed_packs" href="#allowed_packs">Select allowed packs</a> <span id="packs-on"></span> <span id="packs-off"></span></p>
            <div id="allowed_packs" class="collapse">
                {% for pack in packs %}
                    <div class="checkbox -bs-checklist">
                        <div class="checkbox" data-toggle="checklist">
                            <li class="checkbox"><label class="{% if pack.future %}pack-future{% endif %}"><input type="checkbox" name="packs[]" value="{{ pack.code }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label></li>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="">Sort</label> <select class="form-control" id="sort"
                                                   name="sort">
                    <option value="popularity"{{ sort_popularity|default('') }}>by Popularity</option>
                    <option value="date"{{ sort_date|default('') }}>by Date</option>
                    <option value="likes"{{ sort_likes|default('') }}>by Number of Likes</option>
                    <option value="reputation"{{ sort_reputation|default('') }}>by Reputation of Author</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:1em">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>

<style>
.search-form-actions {
}
</style>
